@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    src: local('Pretendard Thin'), local('Pretendard-Thin'),
    url(~assets/fonts/woff/Pretendard-Thin.woff) format('woff'),
    url(~assets/fonts/woff2/Pretendard-Thin.woff2) format('woff2'),
}


@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    src: local('Pretendard'), local('Pretendard-ExtraLight'),
    url(~assets/fonts/woff/Pretendard-ExtraLight.woff) format('woff'),
    url(~assets/fonts/woff2/Pretendard-ExtraLight.woff2) format('woff2'),
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: local('Pretendard'), local('Pretendard-Light'),
    url(~assets/fonts/woff/Pretendard-Light.woff) format('woff'),
    url(~assets/fonts/woff2/Pretendard-Light.woff2) format('woff2'),
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: local('Pretendard'), local('Pretendard-Regular'),
    url(~assets/fonts/woff/Pretendard-Regular.woff) format('woff'),
    url(~assets/fonts/woff2/Pretendard-Regular.woff2) format('woff2'),
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: local('Pretendard'), local('Pretendard-Medium'),
    url(~assets/fonts/woff/Pretendard-Medium.woff) format('woff'),
    url(~assets/fonts/woff2/Pretendard-Medium.woff2) format('woff2'),
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: local('Pretendard'), local('NotoSans-SemiBold'),
    url(~assets/fonts/woff/Pretendard-SemiBold.woff) format('woff'),
    url(~assets/fonts/woff2/Pretendard-SemiBold.woff2) format('woff2'),
  
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: local('Pretendard'), local('Pretendard-Bold'),
    url(~assets/fonts/woff/Pretendard-Bold.woff) format('woff'),
    url(~assets/fonts/woff2/Pretendard-Bold.woff2) format('woff2'),
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    src: local('Pretendard'), local('Pretendard-ExtraBold'),
    url(~assets/fonts/woff/Pretendard-ExtraBold.woff) format('woff'),
    url(~assets/fonts/woff2/Pretendard-ExtraBold.woff2) format('woff2'),
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    src: local('Pretendard'), local('Pretendard-Black'),
    url(~assets/fonts/woff/Pretendard-Black.woff) format('woff'),
    url(~assets/fonts/woff2/Pretendard-Black.woff2) format('woff2'),
}

