
$header_height: 40px;


// break point
$mobile_m: 375px;
$mobile_l: 414px;
$fold: 512px;
$tablet: 768px;
$desktop: 1024px;
$desktop_large: 1200px;
$desktop_max: 1600px;
$desktop_max_out: 2500px;

// color
$color_black: #000;
$color_white: #fff;
$color_main: #5AABFC;
$color_red: #D32F2F;
$color_admin_background: #FAFCFE;
$color_admin_text: #4B4E51;
$color_blue: #1E86FF;
$color_black: black;
$color_yell:#F4D01E;
$color_red:#FC3838;
$color_grey:#717A87;
$main_color:#48DDED;
$sub_color:#1E86FF;
$color_green: #04660a;

// border_radius
$border-radius:4px;
